<div class="container services">
    
    <div class="row text-center">
        <div class="col-md-12 text-left"><h2>Meet our team </h2></div>
        
        <div class="col-md-6">
           <div class="cont">
            <img  src="../../../assets/pictures/ghassen.jpg">
            <h4>Ghassen Ksouri</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta nobis perferendis maiores unde iste! Soluta quo suscipit, </p>
            <button>Read more</button>
            </div>
        </div>
        <div class="col-md-6">
           <div class="cont">
            <img  src="../../../assets/pictures/bochra.jpg">
            <h4>Bochra Houissa </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta nobis perferendis maiores unde iste! Soluta quo suscipit, </p>
            <button>Read more</button>
            </div>
        </div>
    </div>
  </div>
  