<div class="container app">
    <div class="row">
        <div class="col-sm-6 textapp">
            <div class="col-sm-12"><h4>e-learning platform</h4></div>
            <div class="col-sm-12"><h5>designed for humans</h5></div>
            <div class="col-md-10"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt possimus eius, veniam, eos totam, doloremque dolorem nulla dolore magnam eligendi delectus quasi corrupti doloribus consequatur reprehenderit ratione. eligendi delectus quasi corrupti doloribus consequatur reprehenderit ratione.Perferendis, dolore, delectus.</p></div>
            <button>learn more</button>
        </div>
        <div class="col-sm-6 picapp">
            <img src="assets/pictures/iPhonep.png" alt="">
        </div>
        
        
        
    </div>
    
    
    
    
    
</div>