<div class="container bodyx">
    <div class="row">
        <div class="col-md-5 textt">
            <div class="col-md-12 bodytitle"><h1>new Dimension of <br>deep learning</h1></div>
            <div class="col-md-9"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate maxime soluta illo explicabo explicabo uis excepturi pariatur deleniti similique, </p></div>
            <div class="col-md-12"><button id="bt1">start trial</button><button id="bt2">more info <i class="fas fa-circle"></i></button></div>
        </div>
        <div class="col-md-7 imagec"><img src="assets/pictures/bodypic2.png" alt=""></div>
    </div>
</div>